@charset "UTF-8";
/* COLORES */
/* TAMAÑOS */
/* EFECTOS */
/*  MIXIN */
header {
  background-color: #333;
  padding: 30px;
  margin: 0;
  font-size: 25px; }

.navMenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between; }

.navBar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  list-style-type: none; }
  .navBar li a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    padding: 10px 20px; }
    .navBar li a:hover {
      opacity: 0.8;
      background-color: rgba(228, 209, 209, 0.6);
      transition: all 0.3s; }

.spanLogo {
  padding-left: 20px; }
  .spanLogo :hover {
    transform: scale(150%); }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: lightgoldenrodyellow; }

.main__h1 {
  color: #555; }

.main__h2 {
  color: sienna;
  padding: 20px 0 0 80px;
  font-size: 25px;
  font-weight: bold; }

p {
  line-height: 1.5;
  color: sienna; }

.containerVideo {
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
  margin-bottom: 20px; }
  .containerVideo:hover {
    transform: translatex(10px); }

/* CONTENEDOR MAIN */
.container {
  max-width: 95%;
  justify-content: center;
  margin: 0 20px;
  padding: 20px; }

/*CONTENEDOR INDEX */
.containerMain {
  margin-top: 35px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px; }

/* CONTENEDOR GLOBAL */
.containerCaja {
  margin-top: 40px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center; }

.card {
  background-color: #eeebbd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s; }
  .card:hover {
    transform: translateY(-15px); }
  .card__title {
    margin-bottom: 20px;
    color: #462e22;
    font-weight: bold;
    font-size: x-large; }
  .card__description {
    margin-bottom: 40px; }

.card__header {
  position: relative; }
  .card__header img {
    height: 0;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px; }
  .card__header--strong {
    text-transform: uppercase;
    font-weight: bold; }
  .card__header small {
    /* Cartel de NUEVO en caja */
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px; }

.boton {
  background-color: #777;
  color: wheat;
  font-weight: bold;
  width: 50%;
  display: inline-block;
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8); }
  .boton a {
    text-decoration: none;
    color: wheat; }
  .boton:hover {
    background-color: sienna; }

/*RESTO DE LAS PAGINAS */
.baseResto, table, .form__caja {
  height: 0;
  width: 90px;
  padding-bottom: 10px;
  margin-bottom: 10px; }

iframe {
  padding: 0 30px;
  justify-self: center; }

footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(45deg, #333, sienna);
  color: #777;
  padding: 30px 20px;
  margin: 0; }

h4 {
  color: #e4e1e1;
  padding: 10px 20px; }

.contenedorFooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  transition: all 0.3s;
  list-style-type: none; }
  .contenedorFooter li:hover {
    transform: scale(120%); }

@media (max-width: 800px) {
  .containerCaja {
    grid-template-columns: repeat(2, 1fr); }
  .navBar li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; } }

@media (max-width: 660px) {
  .containerMain {
    margin-top: 35px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); }
  .containerCaja {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .navBar li a {
    text-decoration: none;
    font-weight: normal;
    font-size: 18px; } }
