footer {
    display: grid;
grid-template-columns: 2fr 1fr;
    background-color: #333;
    color: #bbb;
    padding: 30px 20px;
    margin: 0;

}

h2{
    color: rgb(228, 225, 225);
}

.contenedorFooter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    transition: 0.5s;
}

.contenedorFooter li:hover {
    transform: scale(120%);
}