footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(45deg,  #333, sienna);
    color: #bbb;
    padding: 30px 20px;
    margin: 0;
}

h2 {
    color: rgb(228, 225, 225);
    padding-left: 20px;
}

.contenedorFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    transition: 0.3s;
    list-style-type: none;
}

.contenedorFooter li:hover {
    transform: scale(120%);
}