* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $fondoMain;
}

.main__h1 {
    color: #555;
}

.main__h2 {
    color: $colorSienna;
    padding-top: 20px;
    font-size: x-large;
}

p {
    line-height: 1.5;
    color: $colorSienna;
}

.containerInvitar {
    margin-top: 25px;

    a {
        background-color: $colorSienna;
        color: wheat;
        padding: 15px;
        border-radius: 10px;
        font-weight: bold;
        transition: background-color 0.3s;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8);
        text-decoration: none;

        &:hover {
            color: wheat;
            background-color: #777;
        }
    }
}

.containerVideo {
    justify-self: center;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
    margin-bottom: 20px;

    &:hover {
        transform: translatex(10px);
    }
}

/* CONTENEDOR MAIN */
.container {
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

/*CONTENEDOR INDEX */
.containerMain {
    margin-top: 40px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* CONTENEDOR GLOBAL */
.containerCaja {
    margin-top: 40px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-15px);
    }

    &__title {
        margin-bottom: 20px;
        color: $colorSienna;
        font-weight: bold;
        font-size: x-large;
    }

    &__description {
        margin-bottom: 40px;
    }

    &__precio {
        background-color: $colorSienna;
        color: wheat;
        font-weight: bold;
        width: 50%;
        display: inline-block;
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        justify-content: center;
    }
}

.card__header {
    position: relative;

    & img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    &--strong {
        text-transform: uppercase;
        font-weight: bold;
    }

    & small {
        background-color: rgba(255, 255, 255, 0.5);
        color: #fff;
        padding: 8px;
        position: absolute;
        right: 0;
        border-bottom-left-radius: 10px;
    }
}

/*RESTO DE LAS PAGINAS */
table {
    width: 90%;
}

.form__caja {
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 90%;
}