header {
    background-color: $fondoHeader;
    padding: 30px;
    margin: 0;
    font-size: $tamanogrande;
}

.navMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.navBar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    & li a {
        text-decoration: none;
        color: $colorLink;
        font-weight: bold;
        padding: 10px 20px;
       

        &:hover {
            opacity: 0.8;
            background-color: $colorLinkHover;
            transition: $transicion;
        }
    }
}

.spanLogo {
    padding-left: 20px;

    & :hover {
        transform: scale(150%);
    }
}