header {
    background-color: #333;
    color: #bbb;
    padding: 30px 0px 30px 0px;
    margin: 0;
    font-size: x-large;
}

.navMenu {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    justify-content: space-between;
}

.navBar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navBar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.3s;
   
    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        color: #ddd;
    }
    
}


.spanLogo {
    padding-left: 20px;

    & :hover {
        transform: scale(150%);
    }
}