/* COLORES */
$fondoHeader: #333;
$fondoMain: lightgoldenrodyellow;

$colorLink: wheat;
$colorLinkHover: rgba(228, 209, 209, 0.6);


$H1Main: #555;
$H4Footer: rgb(228, 225, 225);
$colorTipoMarron: sienna;
$colorTipoMarronOtro: rgb(70, 46, 34) ;


$colorGrisClaro: #777;
$colorGrisOscuro: #444;

$cajas: rgb(238, 235, 189);

/* TAMAÑOS */
$tamanomediano: 20px;
$tamanochico: $tamanomediano - 2;
$tamanogrande: $tamanomediano + 5;

/* EFECTOS */
$transicion: all 0.3s; 

/*  MIXIN */ 
@mixin size ($heigth, $width){
    height: $heigth;
    width: $width;
 }
